# Overview

In [ ]:
dict_1 = {'John': 33,
          "Tim": 12,
          "Josh": 65,
          "Jesseca": 24,
          "Alice": 19,
    
}

In [ ]:
#length of dict:
len(dict_1)

5

In [ ]:
#find the value by the key:
dict_1['Josh']

65

In [ ]:
#find the value by the key:
dict_1.get('Josh')

65

In [ ]:
#list of all keys:
dict_1.keys()

dict_keys(['John', 'Tim', 'Josh', 'Jesseca', 'Alice'])

In [ ]:
#list of all values:
dict_1.values()

dict_values([33, 12, 65, 24, 19])

In [ ]:
#list of all items:
dict_1.items()

dict_items([('John', 33), ('Tim', 12), ('Josh', 65), ('Jesseca', 24), ('Alice', 19)])

In [ ]:
#find key in dict:
"John" in dict_1

True

# Add key-value:

In [ ]:
#add key-value pair:
dict_1['William'] = 44
dict_2 = dict_1.copy()
dict_2['Tim'] = 22
print('Dictionary 1 is: ',dict_1)
print('Dictionary 2 is: ',dict_2)

Dictionary 1 is:  {'John': 33, 'Tim': 12, 'Josh': 65, 'Jesseca': 24, 'Alice': 19, 'William': 44}
Dictionary 2 is:  {'John': 33, 'Tim': 22, 'Josh': 65, 'Jesseca': 24, 'Alice': 19, 'William': 44}

In [ ]:
#upadte key-value pair:
dict_4 = dict_1.copy()
dict_4.update({"Tim": 32})
print('Dictionary 1 is: ',dict_1)
print('Dictionary 4 is: ',dict_4)

Dictionary 1 is:  {'John': 33, 'Tim': 12, 'Josh': 65, 'Jesseca': 24, 'Alice': 19, 'William': 44}
Dictionary 4 is:  {'John': 33, 'Tim': 32, 'Josh': 65, 'Jesseca': 24, 'Alice': 19, 'William': 44}

# Delete item:

In [ ]:
#The del keyword removes the item with the specified key name:
dict_3 = dict_1.copy()
del dict_3["Josh"]
print('Dictionary 1 is: ',dict_1)
print('Dictionary 3 is: ',dict_3)

Dictionary 1 is:  {'John': 33, 'Tim': 12, 'Josh': 65, 'Jesseca': 24, 'Alice': 19, 'William': 44}
Dictionary 3 is:  {'John': 33, 'Tim': 12, 'Jesseca': 24, 'Alice': 19, 'William': 44}

In [ ]:
#The pop() method removes the item with the specified key name:
dict_5 = dict_1.copy()
dict_5.pop("John")
print('Dictionary 1 is: ',dict_1)
print('Dictionary 5 is: ',dict_5)

Dictionary 1 is:  {'John': 33, 'Tim': 12, 'Josh': 65, 'Jesseca': 24, 'Alice': 19, 'William': 44}
Dictionary 5 is:  {'Tim': 12, 'Josh': 65, 'Jesseca': 24, 'Alice': 19, 'William': 44}

In [ ]:
#The popitem() method removes the last inserted item 
#(in versions before 3.7, a random item is removed instead):
dict_6 = dict_1.copy()
dict_6.popitem()
print('Dictionary 1 is: ',dict_1)
print('Dictionary 6 is: ',dict_6)

Dictionary 1 is:  {'John': 33, 'Tim': 12, 'Josh': 65, 'Jesseca': 24, 'Alice': 19, 'William': 44}
Dictionary 6 is:  {'John': 33, 'Tim': 12, 'Josh': 65, 'Jesseca': 24, 'Alice': 19}

In [ ]:
#The del keyword can also delete the dictionary completely:
dict_7 = dict_1.copy()
del dict_7
print('Dictionary 1 is: ',dict_1)
print('Dictionary 7 is: ',dict_7) # => dict_7 was deleted, so cannot print it

In [ ]:
#The clear() method empties the dictionary:
dict_8 = dict_1.copy()
dict_8.clear()
print('Dictionary 1 is: ',dict_1)
print('Dictionary 8 is: ',dict_8)

Dictionary 1 is:  {'John': 33, 'Tim': 12, 'Josh': 65, 'Jesseca': 24, 'Alice': 19}
Dictionary 8 is:  {}

#Loop with dictionary

In [ ]:
#Print all key names in the dictionary, one by one:
for i in dict_1:
  print(i)

John
Tim
Josh
Jesseca
Alice

In [ ]:
#the keys() method to return the keys of a dictionary:
for i in dict_1.keys():
  print(i)

John
Tim
Josh
Jesseca
Alice

In [ ]:
#Print all values in the dictionary, one by one:
for i in dict_1:
  print(dict_1[i])

33
12
65
24
19

In [ ]:
#the values() method to return values of a dictionary:
for i in dict_1.values():
  print(i)

33
12
65
24
19

In [ ]:
#Loop through both keys and values, by using the items() method:
for x, y in dict_1.items():
  print(x,y)

John 33
Tim 12
Josh 65
Jesseca 24
Alice 19

# Copy of the dict:

In [ ]:
#Make a copy of a dictionary with the copy() method:
dict_9 = dict_1.copy()
print('Dictionary 1 is: ',dict_1)
print('Dictionary 9 is: ',dict_9)

Dictionary 1 is:  {'John': 33, 'Tim': 12, 'Josh': 65, 'Jesseca': 24, 'Alice': 19}
Dictionary 9 is:  {'John': 33, 'Tim': 12, 'Josh': 65, 'Jesseca': 24, 'Alice': 19}

In [ ]:
#Make a copy of a dictionary with the dict() function:
dict_10 = dict(dict_1)
print('Dictionary 1 is: ',dict_1)
print('Dictionary 10 is: ',dict_10)

Dictionary 1 is:  {'John': 33, 'Tim': 12, 'Josh': 65, 'Jesseca': 24, 'Alice': 19}
Dictionary 10 is:  {'John': 33, 'Tim': 12, 'Josh': 65, 'Jesseca': 24, 'Alice': 19}