# Mount google drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

# Linus commands & Pip install

In [ ]:
#List folder/file on drive
!ls

In [ ]:
#List folder/file on My drive
!ls '/content/drive/MyDrive/'

In [ ]:
#check path
!pwd

In [ ]:
#List packages are available on google colab and check version of package on colab
!pip freeze | grep pandas

pandas==1.4.4
pandas-datareader==0.10.0
pandas-gbq==0.17.9
pandas-profiling==3.2.0
sklearn-pandas==2.2.0

In [ ]:
#show detail information of packages
!pip show pandas

In [ ]:
#pip insatll
!pip install pandas==1.4.4

In [ ]:
import pandas as pd
df = pd.read_csv('/content/sample_data/california_housing_test.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0