# Overview: Creating a set
* a set doesn't repeat the elements.
* The ouput of a set prints random items in the set

In [ ]:
#Creating sets: not repeat the elements
set_1 = {19,2,70,66,5,70,9,43}
print(set_1)

{2, 66, 19, 5, 70, 9, 43}

In [ ]:
#Creating set: a set can contain the list
set_2 = set([1,22,"Moon",5,7,22,"Moon",443])
print(set_2)
#the tuple
set_3 = set((6,44,5,99,12,44))
print(set_3)

{1, 5, 7, 'Moon', 22, 443}
{99, 5, 6, 12, 44}

#Adding elements to the set:

In [ ]:
#add(): add the elements to the set:
set_4 = set_1.copy()
set_4.add(65)
print('Set 1 is:',set_1)
print('Set 4 is:',set_4)

Set 1 is: {2, 66, 19, 5, 70, 9, 43}
Set 4 is: {65, 2, 66, 19, 5, 70, 9, 43}

In [ ]:
#update(): Insert the items from set y into set x. 
#If an item is present in both sets, only one appearance of this item will be present in the updated set
set_6 = set_1.copy()
set_6.update(set_2)
print('set 2:',set_2)
print('set 6:',set_6)

set 2: {1, 5, 7, 'Moon', 22, 443}
set 6: {1, 2, 66, 5, 70, 7, 9, 43, 19, 'Moon', 22, 443}

#Merging sets

In [ ]:
#merge sets:
print('set 2 is:',set_2)
print('set 3 is:',set_3)
set_5 = set_3.union(set_2)
print('The new set 5 is:',set_5)

set 2 is: {1, 5, 7, 'Moon', 22, 443}
set 3 is: {5}
The new set 5 is: {1, 5, 'Moon', 7, 22, 443}

# Intersection

In [ ]:
#intersection()	Returns a set, that is the intersection of two or more sets
set_3.intersection(set_2)

{5}

In [ ]:
#intersection_update(): Remove the items that is not present in both x and y
#Removes the items in this set that are not present in other, specified set(s)
set_3.intersection_update(set_2)
print(set_3)

x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}
x.intersection_update(y, z)
print(x)

{5}
{'c'}

#Different

In [ ]:
#difference()	Returns a set containing the difference between two or more sets
#Return a set that contains the items that only exist in set x, and not in set y:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'cherry', 'banana'}

In [ ]:
#difference_update()	
#Removes the items in this set that are also included in another, specified set
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.difference_update(y)
print(x)

{'cherry', 'banana'}

# Symmetric
* The symmetric_difference() method returns a set that contains all items from both set, but not the items that are present in both sets.
Meaning: The returned set contains a mix of items that are not present in both sets.

* The symmetric_difference_update() method updates the original set by removing items that are present in both sets, and inserting the other items.

In [ ]:
#Return a set that contains all items from both sets, except items that are present in both sets:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)

{'banana', 'microsoft', 'google', 'cherry'}

In [ ]:
#symmetric_difference_update() 
#Remove the items that are present in both sets, AND insert the items that is not present in both sets:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

{'microsoft', 'banana', 'google', 'cherry'}

# Remove

* pop(): Remove a random item from the set. This method returns the removed item
* discard(): remove specified item from the set.
* remove(): remove specified item from the set. The remove() method will raise an error if the specified item does not exist, and the discard() method will not.
* clear(): Removes all the elements from the set

In [ ]:
#pop(): Remove a random item from the set. This method returns the removed item
set_7 = set_1.copy()
set_7.pop()
print('set 1:',set_1)
print('set 7:',set_7)

set 1: {2, 66, 19, 5, 70, 9, 43}
set 7: {66, 19, 5, 70, 9, 43}

In [ ]:
#discard(): Remove "banana" from the set
set_a = {"pinapple", "apple", "banana", "jackfruit"}
set_a.discard("banana")

print('set a:',set_a)

set a: {'apple', 'pinapple', 'jackfruit'}

In [ ]:
#remove():	Removes the specified element
#the remove() method will raise an error if the specified item does not exist, 
#and the discard() method will not.
set_b = {"Jack", 15, 19, "John"}
set_b.remove(15)

print('set b:',set_b)

set b: {19, 'John', 'Jack'}

In [ ]:
#clear(): Removes all the elements from the set
set_c = set_b.copy()
set_c.clear()
print('set c:',set_c)

set c: set()

# Boolean value
* The isdisjoint() method returns True if none of the items are present in both sets, otherwise it returns False.
* The issubset() method returns True if all items in the set exists in the specified set, otherwise it returns False.
* The issuperset() method returns True if all items in the specified set exists in the original set, otherwise it returns False.

In [ ]:
# isdisjoint(): Return True if no items in set x is present in set y:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}
z = x.isdisjoint(y)
print(z)

True

In [ ]:
# isubset(): The issubset() method returns True if all items in the set exists in the specified set, otherwise it returns False.
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}
z = x.issubset(y)
print(z)

True

In [ ]:
# issuperset(): Return True if all items set y are present in set x:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
z = x.issuperset(y)
print(z)

True